NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_ANALYZE_ENABLED=true

DATABASE_URL="postgresql://user:password@ep-sample-pooler.region.aws.neon.tech/lumina?sslmode=require"

NEXT_PUBLIC_APP_URL=http://localhost:3000

GEMINI_API_KEY=your_google_ai_studio_gemini_api_key
